.app {
  text-align: center;
  backdrop-filter: blur(3px);
}

img {
  width: 75%;
  height: auto;
  margin: 2em;
  border-radius: 3%;
}

.flexbox-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.flexbox-item {
  background: none;
  padding: 0;
}

card-button {
  background: none;
  padding: 0;

  padding: 15px 32px;

  display: inline-block;
  margin: 4px 2px;
}

body {
  background-image: url('/images/forest-background.png');
  background-size: 1500px;
}

.wrapping {
  flex-wrap: wrap;
}
