.app {
  text-align: center;
  /* background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/80ff523f-ff84-457d-a547-464588d3a3d3/dfvp0nm-9a8a9f3a-5dbb-4134-8e54-aabdd79ee803.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzgwZmY1MjNmLWZmODQtNDU3ZC1hNTQ3LTQ2NDU4OGQzYTNkM1wvZGZ2cDBubS05YThhOWYzYS01ZGJiLTQxMzQtOGU1NC1hYWJkZDc5ZWU4MDMucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.Mli5_vqH9sXl8wtgvuCXVE75-XVMVv-rmGkr4Bpnjgg'); */
}

img {
  width: 75%;
  height: auto;
  margin: 2em;
  border-radius: 3%;
}

.flexbox-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.flexbox-item {
  background: none;
  padding: 0;
}

card-button {
  background: none;
  padding: 0;

  padding: 15px 32px;

  display: inline-block;
  margin: 4px 2px;
}

.pokemon-img {
  transition: filter 0.3s ease-in-out;
}

.pokemon-img:hover {
  filter: brightness(150%);
}
